<!DOCTYPE html>
<html>
<head>
    <title>Add Learning Objective</title>
    <!-- Learning objectives are added in this case. -->
</head>
<body>
    <h2>Add Learning Objective</h2>
    <form action="/add_learning_objective" method="POST">
        <label for="programId">Program ID:</label>
        <input type="number" id="programId" name="programId"><br><br>

        <label for="loDescription">Learning Objective Description:</label>
        <textarea id="loDescription" name="loDescription"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
